$clr-primary: hsl(246, 80%, 60%);

$clr-bg-body: hsl(226, 41%, 10%);
$clr-neutral-600: hsl(236, 45%, 20%);
$clr-neutral-400: hsl(235, 45%, 61%);
$clr-neutral-200: hsl(236, 100%, 87%);

$clr-card-work: hsl(15, 100%, 70%);
$clr-card-play: hsl(195, 74%, 62%);
$clr-card-study: hsl(348, 100%, 68%);
$clr-card-exercise: hsl(145, 58%, 55%);
$clr-card-social: hsl(264, 64%, 52%);
$clr-card-selfcare: hsl(43, 84%, 65%);
